
.headline {
  display: flex;
  height: 100%;
  align-items: center;
}

.statusBox {
  margin: 24px;
}

.placeholderText {
  display: flex;
  height: 12px;
  border-radius: 6px;
  background-color: rgba(46, 55, 59, 0.10);
  width: 25%;

}

.placeholderIndicator {
  background-color: rgba(46, 55, 59, 0.10);
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}
