@import '../../layout/common';

.wrapper {
  height: 100vh;
  flex: 1;
}


.infoContainer {
  height: 100vh;
  margin-top: -10px;
  margin-bottom: -10px;
}

.loginContainer {
  background-color: $brand-primary;
  height: 100vh;
}

.logInButton {
  margin-top: 12px;
  margin-bottom: 12px;
}

.zenziotLogo {
  display: flex;

  justify-content: center;
  img {
    height: 48px;
    margin-bottom: 4px;
  }
}

.zenziotLogoWhite {
  display: flex;
  justify-content: center;
  img {
    height: 48px;
  }
}

.subheading {
  margin-bottom: 18px !important;
}

.icon {
    font-size: 36px;
}
