
.wrapper {
  background: #b7b7b7;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10px;
  margin: 0;
  padding: 30px;

  a {
    display: block;
    font: {
      weight: bold;
      family: sans-serif;
    }
    &:hover {
      color: red;
    }
  }

  img {
    width: 20%;
    padding: 100px;
  }
}
