$brand-primary: #2196F3;
$brand-primary-light: #6EC6FF;
$brand-primary-dark: #0069C0;

$brand-secondary: #FF6D00;
$brand-secondary-light: #FF9E40;
$brand-secondary-light: #C43C00;

$gray-base: rgba(46, 55, 59, 1);
$gray-light: rgba(46, 55, 59, 0.87);
$gray-lighter: rgba(46, 55, 59, 0.54);

body {
  background-color: #EEE !important;
}
